* { 
    box-sizing: border-box;
}
/*Class Selectors*/
.box{
    margin: 5rem;
    padding: 3rem;
    border-radius: 10px;
    background-image: white;


}
  aside img{

    border-radius: 3px;
    float: left;
    margin: 15px;
    width: 280px;
    position: relative;
    bottom: 80px;
  }
  aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
  }
  body {
    background-image:white;
  }
  h1 {
    text-shadow: 0.5px 1px 0.5px #8f9595;
    text-align: center;
    padding-bottom: 30px;
    color: #385580;
  }
  aside div {
    width: 98%;
    text-align:end;

  }
  main div {
    text-align: end;
  }
  footer {
    text-align:center;
    padding-top: 70px;
  }
  .prof {
    display: flex;
    align-items: center;
    margin-left: 70px;
    padding: 20px;
    padding: 7rem;
    border-bottom: 0.5px solid #385580;
  }
  .profile{
    margin: 2rem;
  }
  .lis {
    margin: 5rem;
    padding: 7rem;
    border-bottom: 0.5px solid #385580;
    background-color: white;
    list-style-type: none;   

  }
  ul li a {
    text-decoration:none;
    color: #385580;
  }
  ul img {
    width: 140px;
    float: right;
    margin: 2rem;
    margin-left: 5rem;
    bottom: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 70px;
  }
  header nav {
    text-align: center;
    margin: 4rem;
    padding: 5px;
  }
  header nav a {
    text-decoration: none;
    color:#385580 ;
  }
  footer p a {
    text-decoration: none;
    color: #385580;
  }
  